* {
    margin: 0;
    padding: 0;
}

nav {
    background: #d8ab58;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0;
}

article {
    display: inline;
    background: #ccb894;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    gap: 50px;
}

.container {
    display: flex;
    align-items: center;
    margin: 15px 30px;
}

.autocontainer {
    background: #b6cc94;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    border: 3px solid #ccb894;
}

.direita {
    margin-left: auto;
}

#ativo {
    border-bottom: 10px solid #ccb894;
}